.highlighted.unsaved {
	border-color: white white white green;
	border-width: 5px;
	border-style: solid;
}

.unhighlighted.unsaved {
	border-color: white white white red;
	border-width:5px;
	border-style:solid;
}
	
