.highlightT.highlighted.unsaved {
	border-color: white white white green;
	border-width: 5px;
	border-style: solid;
}

.highlightT.unhighlighted.unsaved {
	border-color: white white white red;
	border-width:5px;
	border-style:solid;
}

.removeButton {
	float: right;
}

.btn-danger{
	float:right;
}

.highlighted > .addButton {
	visibility:hidden;
}

.unhighlighted > .removeButton {
	visibility:hidden;
}
