{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='profile.css')}}">
<script src="{{url_for('static', filename='transferUpdates.js')}}"></script>
<script src="{{url_for('static', filename='loadTweets.js')}}"></script>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
<script src="{{url_for('static', filename='getTweet.js')}}"></script>
<script>
	var startingTweets = {{ tweets|tojson}};
	var collectionTweets = {{ collection|tojson}};
</script>
<div class="container">
	<div class="row">
		<h1>tweetlights.com/{{screen_name}}</h1>
		<a href="{{url_for('userHighlightsView', username=screen_name)}}" target="_blank">public view</a>
	</div>
	<div class="row">
		<div class="col">
			<h2>Your Profile Highlights</h2>
			<button onclick="saveHighlights()" id="saveButton" type="button" class="btn btn-primary">Save</button>
			<a href="{{url_for('delete')}}" class="btn btn-danger">Delete Profile</a>
			<div id="tweets">
			</div>
		</div>
		<div class="col">
			<h2>Search by ID</h2>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon3">twitter.com/{{screen_name}}/status/</span>
				</div>
				<input type="text" class="form-control" id="tweetID" aria-describedby="basic-addon3">
				<div class="input-group-append">
				<button onclick="getTweet()" type="button" class="btn btn-primary">Add</button>
				</div>
			</div>
			<div id="searchTweet">
			</div>
			<h2>Browse</h2>
			<button onclick="sortByScore()" type="button" id="scoreButton" class="active btn btn-outline-dark" aria-pressed="true">Recommended</button>
			<button onclick="sortByRetweets()" type="button" id="retweetsButton" class="btn btn-outline-dark">Retweets</button>
			<button onclick="sortByFavorites()" type="button" id="favoritesButton" class="btn btn-outline-dark">Favorites</button>
			<button onclick="sortByRecency()" type="button" id="recencyButton" class="btn btn-outline-dark">Recency</button>
			<div id="previousTweets">
			</div>
			<button onclick="getMoreTweets()" type="button" class="btn btn-primary">Load More</button>
		</div>
	</div>
</div>
{% endblock %}
